.stats {
    min-height: calc(100vh - 94px);

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;

        a {
            &:not(:last-child) {
                margin-right: 10px;
            }

            &.active {
                color: rgb(248, 196, 53);
            }
        }
    }
}

@media screen and (max-width: 575px) {

    .stats {
        min-height: calc(100vh - 80px);
        // width: 100vw;

        overflow-x: auto;
        overflow-y: hidden;
        // height: 100%;

        &::-webkit-scrollbar {
            display: flex;
            // height: 1px;
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.2);
            // height: 12px;
            border-radius: 0.2rem;
        }

        &::-webkit-scrollbar-track {
            background-color: #dbdbe2;
            color: #c2c4cd;
            // margin: 50px;
            // height: 12px;
            border-bottom: 10px solid transparent;
            border-radius: 0.2rem;
        }
    }
}