<main class=" home-page">
    <div *ngIf="!start" class="welcome">
        <h1>{{logo | naturalType: 100}}</h1>
        <!-- <h2>{{intro | naturalType: 20}}</h2> -->
        <h2>{{intro}}</h2>
        <button (click)="start = !start" class="btn">Start now</button>
    </div>

    <section *ngIf="start" class="user-login">
        <h2>Signup</h2>
        <form (ngSubmit)="onAddUser()">
            <label for="name">Name</label>
            <input [(ngModel)]="user.name" type="text" name="name" id="name" placeholder="Enter name">
    
            <button class="btn">Save</button>
        </form>
    </section>
   
</main>
