<section [routerLink]="['/contact', contact._id]" class="contact-preview">
    <section class="info">
        <section class="data">
            <h2>{{contact.name}}</h2>
        </section>
        <img src="https://robohash.org/{{contact._id}}?set=set5" alt="">
        <section class="actions">
            <button (click)="onEditContact($event)" class="edit-btn"><img src="assets/img/pen-to-square-solid.svg"></button>
            <button (click)="onRemoveContact($event)" class="remove-btn"><img src="assets/img/trash-solid.svg"></button>
        </section>
    </section>
</section>